<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hrausch.exemplolist" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.hrausch.exemplolist.Exemplo1ListActivity"
            android:label="@string/title_activity_exemplo1_list" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="com.example.hrausch.exemplolist.Exemplo2ListActivity"
            android:label="@string/title_activity_exemplo2_list" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="com.example.hrausch.exemplolist.Exemplo3ListActivity"
            android:label="@string/title_activity_exemplo3_list" >
        </activity>
        <activity
            android:name="com.example.hrausch.exemplolist.Exemplo4ListActivity"
            android:label="@string/title_activity_exemplo4_list" >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name="com.example.hrausch.exemplolist.Exemplo4List"
            android:label="@string/title_activity_exemplo4_list" >
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>

        <activity
            android:name="com.example.hrausch.exemplolist.Exemplo5List"
            android:label="@string/title_activity_exemplo5_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
